@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  max-width: 100%;
}

ul,
li {
  list-style-type: none;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.max-width {
  @apply px-5 lg:max-w-5xl lg:mx-auto xl:max-w-6xl 2xl:px-0;
}

h1 {
  line-height: 1.2 !important;
}

p {
  line-height: 1.8;
}

.btn-cta {
  @apply bg-cyan-500 py-2 px-4 text-white hover:opacity-75 transition-all duration-150 cursor-pointer;
}

.shortener {
  background-color: hsl(257, 27%, 26%);
  height: 17.188rem;
  border-radius: 8px;
}

.shortener img {
  height: 17.188rem;
  @apply w-full rounded-lg;
}

.shortener .form {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.boost {
  background-color: hsl(257, 27%, 26%);
  height: 17.188rem;
}

.boost img {
  height: 17.188rem;
  @apply w-full;
}

.boost .boost-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 1024px) {
  .card article:nth-child(3) {
    transform: translateY(2rem);
  }

  .card article:last-child {
    transform: translateY(4rem);
  }

  .line {
    @apply bg-cyan-500 h-2 w-full absolute;
    top: 50%;
  }
}
